<%= render 'landing/header' %>

<main class="relative">
  <%= render 'landing/hero' %>
  <%= render 'landing/social_proof' %>
  <%= render 'landing/how_it_works' %>
  <%= render 'landing/use_cases' %>
  <%= render 'landing/pricing' %>
  <%= render 'landing/final_cta' %>
</main>

<%= render 'landing/footer' %>
